<!-- nav bar -->
<nav>

    <span class="logo" >LOGO</span>
    <div class="nav_leftside">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="">WORK</a></li>
            <li><a href="">CONTACT</a></li>
            <li><a target="_blank" href="https://www.instagram.com/gerardy_lucas/?hl=id">ABOUT ME</a></li>
            <% if (isAdmin) { %>
                <li><a href="/dashboard/<%= username %> ">DASHBOARD</a></li>
            <% } %>
        </ul>
    </div>

    <div class="nav_rightside">
        <% if (username) { %>
            <div class="nav-right-content">
                <h2 class="right-content-item"><%= username %></h2>
                <form action="/logout?_method=delete" method="post">
                    <button class="right-content-item btn" type="submit">Log Out</button>
                </form>
            </div>
        <% } else { %>      
            <a class="sign" href="/register">REGISTER</a>
            <a class="sign" href="/login">LOGIN</a>
        <% } %> 
    </div>   
    <img id="hamburger" src="assets/ham_menu.png" alt="">

</nav>
<!-- end of nav bar -->