<%- include("partials/header") %>

<body id="body">

    <div class="container">
        <div class="dashboard-header">
            <h1>Welcome Admin <%= admin %> </h1>
        </div>
        <div class="main-container">
            <div class="main-header">Account List</div>
            <ul class="player-list-holder">

                <% data.forEach(e => { %>
                    <li class="player-list">

                        <div class="delete-overlay-closed" id="delete-overlay">
                            <div class="delete-tab">
                                <h2>Are you sure want to delete this Account?</h2>
                                <div class="delete-tab-footer">
                                    <div id="cancel-btn" class="btn cancel-btn">Cancel</div>
                                    <form action="/dashboard/:id" method="post">
                                        <input type="text" name="id" value="<%= e.id %>" style="display: none">
                                        <button type="submit" class="btn delete-btn">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
    
                        <div class="player-list-header">
                            <div class="player-list-id">
                                <h4>ID :</h4> <%= e.id %>
                            </div>
                            <div class="player-list-admin">
                                <% if (e.isAdmin) { %>
                                    <h4 class="admin-tag">Admin</h4>
                                <% } %>
                            </div>
                        </div>
                        <div class="player-list-content">
                            <div class="player-list-content-split">
                                <div class="list-data">
                                    <h4>Username :</h4> 
                                    <div class="list-data-content"><%= e.username %></div>
                                </div>
                                <div class="list-data">
                                    <h4>Full Name :</h4> 
                                    <div class="list-data-content"><%= e.fullname %></div>
                                </div>
                            </div>
                            <div class="player-list-content-split">
                                <div class="list-data">
                                    <h4>City :</h4> 
                                    <div class="list-data-content"><%= e.city %></div>
                                </div>
                                <div class="list-data">
                                    <h4>Age :</h4> 
                                    <div class="list-data-content"><%= e.age %></div>
                                </div>
                            </div>
                        </div>
                        <div class="score-list-holder">
                            <div class="score-list">
                                <h4>Win :</h4> <%= e.win %>
                            </div>
                            <div class="score-list">
                                <h4>Lose :</h4> <%= e.lose %>
                            </div>
                        </div>
                        <div class="list-footer">
                            <div id="edit-btn" class="btn edit-btn"><a href="/dashboard/edit/<%= e.username %>">Edit</a></div>
                            <div id="delete-btn" class="btn delete-btn">Delete</div>
                        </div>
                    </li>
                <% }) %>
                
            </ul>
            <div class="footer">
                <div class="right-footer">
                    <div class="btn"><a href="/">Exit</a></div>
                </div>
                <div class="left-footer">
                    <p>Create more Player Account :</p>
                    <div class="regis-btn btn"><a href="/register">Register</a></div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/dashboard.js"></script>
    
</body>
</html>