<%- include("partials/header") %>

<body>
    <div class="container">
        <div class="header">
            <h1>Edit <%= data.username %> Profile</h1>
        </div>
        <div class="main-container">
            <div class="profile-holder">
                <div class="profile-data-id">
                    <h4>ID : </h4> <%= data.id %>
                </div>

                <div class="profile-data">
                    <h4>Username :</h4>
                    <div class="profile-data-data">
                        <p><%= data.username %></p>
                        <div id="change-btn" class="change-btn">Change</div>
                    </div>

                    <div class="edit-overlay-closed" id="edit-overlay">
                        <div class="edit-tab">
                            <h2>Input your new Username :</h2>
                            <form action="/dashboard/edit/user" method="post">
                                <input type="text" name="id" value="<%= data.id %>" style="display: none">
                                <div class="edit-tab-input-holder">
                                    <input type="text" name="username" placeholder="New Username">
                                </div>
                                <div class="edit-tab-footer">
                                    <div id="cancel-btn" class="btn cancel-btn">Cancel</div>
                                    <button class="btn edit-btn" type="submit">Change</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="profile-data">
                    <h4>Full Name :</h4>
                    <div class="profile-data-data">
                        <p><%= data.fullname %></p>
                        <div id="change-btn" class="change-btn">Change</div>
                    </div>

                    <div class="edit-overlay-closed" id="edit-overlay">
                        <div class="edit-tab">
                            <h2>Input your new Full Name :</h2>
                            <form action="/dashboard/edit/user" method="post">
                                <input type="text" name="id" value="<%= data.id %>" style="display: none">
                                <div class="edit-tab-input-holder">
                                    <input type="text" name="fullname" placeholder="Full Name">
                                </div>
                                <div class="edit-tab-footer">
                                    <div id="cancel-btn" class="btn cancel-btn">Cancel</div>
                                    <button class="btn edit-btn" type="submit">Change</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="profile-data">
                    <h4>Password :</h4>
                    <div class="profile-data-data">
                        <p>********</p>
                        <div id="change-btn" class="change-btn">Change</div>
                    </div>

                    <div class="edit-overlay-closed" id="edit-overlay">
                        <div class="edit-tab">
                            <h2>Input your new Password :</h2>
                            <form action="/dashboard/edit/user" method="post">
                                <input type="text" name="id" value="<%= data.id %>" style="display: none">
                                <div class="edit-tab-input-holder">
                                    <input type="text" name="password" placeholder="Password">
                                </div>
                                <div class="edit-tab-footer">
                                    <div id="cancel-btn" class="btn cancel-btn">Cancel</div>
                                    <button class="btn edit-btn" type="submit">Change</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="profile-data">
                    <h4>City :</h4>
                    <div class="profile-data-data">
                        <p><%= data.city %></p>
                        <div id="change-btn" class="change-btn">Change</div>
                    </div>

                    <div class="edit-overlay-closed" id="edit-overlay">
                        <div class="edit-tab">
                            <h2>Input your updated location :</h2>
                            <form action="/dashboard/edit/user" method="post">
                                <input type="text" name="id" value="<%= data.id %>" style="display: none">
                                <div class="edit-tab-input-holder">
                                    <input type="text" name="city" placeholder="Jakarta">
                                </div>
                                <div class="edit-tab-footer">
                                    <div id="cancel-btn" class="btn cancel-btn">Cancel</div>
                                    <button class="btn edit-btn" type="submit">Change</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="profile-data">
                    <h4>Age :</h4>
                    <div class="profile-data-data">
                        <p><%= data.age %></p>
                        <div id="change-btn" class="change-btn">Change</div>
                    </div>

                    <div class="edit-overlay-closed" id="edit-overlay">
                        <div class="edit-tab">
                            <h2>Updated Age :</h2>
                            <form action="/dashboard/edit/:user" method="post">
                                <input type="text" name="id" value="<%= data.id %>" style="display: none">
                                <div class="edit-tab-input-holder">
                                    <input type="number" name="age" placeholder="00">
                                </div>
                                <div class="edit-tab-footer">
                                    <div id="cancel-btn" class="btn cancel-btn">Cancel</div>
                                    <button class="btn edit-btn" type="submit">Change</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <div class="main-container-footer">
                <div class="btn"><a href="/dashboard/<%= theAdmin %>">Finish</a></div>
            </div>

        </div>
    </div>

    <script src="/js/dashboard-edit.js"></script>

</body>
</html>