<%- include("partials/header") %>
<body>
    
    <%- include("partials/navbar") %>

    <div id="container" class="container">
        <div class="title">
            <h1>ROCK PAPER SCISSORS</h1>
        </div>

        <div class="game-choice">
            <p><a href="/games/<%= id %> ">PLAY</a></p>
            <p id="create-room-btn">CREATE ROOM</p>
            <p id="join-room-btn">JOIN ROOM</p>
            <p><a href="/">BACK</a></p>
        </div>
    </div>

    <div id="create-room-container" class="create-room-container-closed">
        <form action="/game_room" method="post">
            <input type="text" name="roomName">
            <input type="text" name="action" value="createRoom" style="display: none;">
            <input type="text" name="username" value="<%= username %>" style="display: none;">
            <button class="btn" type="submit">CREATE</button>
        </form>
        <div id="create-room-back-btn" class="btn">Back</div>
    </div>

    <div id="join-room-container" class="join-room-container-closed">
        <div class="join-room-container-header">
            <h2>Room List</h2>
        </div>
        <% if (gameRoomData.length != 0) { %>
            <ul class="join-room-list">
                <% gameRoomData.forEach(data => { %>
                    <li class="join-room-list-item">
                        <div class="join-room-list-item-right">
                            <h3><%= data.roomName %> </h2>
                        </div>
                        <div class="join-room-list-item-left">
                            <p><%= data.numberPlayer %> </p>
                            <% if (data.numberPlayer == "1/2") { %>
                                <form action="/game_room" method="post">
                                    <input type="text" name="action" value="joinRoom" style="display: none;">
                                    <input type="text" name="id" value="<%= data.id %> " style="display: none;">
                                    <input type="text" name="username" value="<%= username %>" style="display: none;">
                                    <button type="submit" class="btn">Join</button>
                                </form>
                            <% } else { %>
                                <h4>Full!</h4>
                            <% } %>
                        </div>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <h2>No Room</h2>
        <% } %>
        <div class="join-room-back-btn">
            <div class="btn"><a href="/game_room">Refresh</a></div>
            <div id="join-room-back-btn" class="btn">Back</div>
        </div>
    </div>

    <script src="js/game-room.js"></script>

</body>
</html>