<%- include("partials/header") %>

<body>

    <% if (waitPlayer) { %>
        <div class="overlay">
            <div class="multi-alert-box">
                <div class="multi-alert-box-top">
                    <h1>Wait for other player to join the game</h1>
                </div>
                <div class="multi-alert-box-bot">
                    <form action="/game_multiplayer/<%= roomData.id %>/battle/<%= thisPlayer %>" method="post">
                        <input type="text" name="action" value="refresh" style="display: none;">
                        <input type="text" name="user" value="<%= thisPlayer %>" style="display: none;">
                        <input type="text" name="id" value="<%= roomData.id %>" style="display: none;">
                        <button type="submit" class="refresh-btn"><div class="refresh-btn-img"></div></button>
                    </form>
                </div>
            </div>
        </div>
    <% } %>

    <% if (waitPick) { %>
        <div class="overlay">
            <div class="multi-alert-box">
                <div class="multi-alert-box-top">
                    <h1>Wait for the opponent to pick</h1>
                </div>
                <div class="multi-alert-box-bot">
                    <form action="/game_multiplayer/<%= roomData.id %>/battle/<%= thisPlayer %>" method="post">
                        <input type="text" name="action" value="refresh" style="display: none;">
                        <input type="text" name="user" value="<%= thisPlayer %>" style="display: none;">
                        <input type="text" name="id" value="<%= roomData.id %>" style="display: none;">
                        <button type="submit" class="refresh-btn"><div class="refresh-btn-img"></div></button>
                    </form>
                </div>
            </div>
        </div>
    <% } %>

    <% if (waitCalculate) { %>
        <div class="overlay">
            <div class="multi-alert-box">
                <div class="multi-alert-box-top">
                    <h1>Calculating Result...</h1>
                </div>
                <div class="multi-alert-box-bot">
                    <form action="/game_multiplayer/<%= roomData.id %>/battle/<%= thisPlayer %>" method="post">
                        <input type="text" name="action" value="refresh" style="display: none;">
                        <input type="text" name="user" value="<%= thisPlayer %>" style="display: none;">
                        <input type="text" name="id" value="<%= roomData.id %>" style="display: none;">
                        <button type="submit" class="refresh-btn"><div class="refresh-btn-img"></div></button>
                    </form>
                </div>
            </div>
        </div>
    <% } %>
    
    <% if (winOverlay) { %>
        <div class="result-overlay" id="win-overlay">
            <div class="alert-box">
                <div class="alert-box-top">
                    <h1>YOU WIN</h2>
                    <div class="alert-score-holder">
                        <h2>YOUR SCORE HISTORY</h2>
                        <div class="alert-score-holder-score">
                            <h2>WIN = <h2><%= userScoreHistory.win + 1 %></h2></h2>
                            <h2>LOSE = <h2><%= userScoreHistory.lose %></h2></h2>
                        </div>
                    </div>
                </div>
                <div class="alert-box-bot">
                    <form class="alert-box-form" action="/game_multiplayer/<%= roomData.id %>/battle/<%= thisPlayer %>" method="post">
                        <input type="text" name="action" value="exitGame" style="display: none;">
                        <input type="text" name="result" value="win" style="display: none;">
                        <button class="alert-box-btn exit-btn" type="submit">EXIT</button>
                    </form>
                </div>
            </div>
        </div>
    <% } %>

    <% if (loseOverlay) { %>
        <div class="result-overlay" id="lose-overlay">
            <div class="alert-box">
                <div class="alert-box-top">
                    <h1>YOU LOSE</h2>
                    <div class="alert-score-holder">
                        <h2>YOUR SCORE HISTORY</h2>
                        <div class="alert-score-holder-score">
                            <h2>WIN = <h2><%= userScoreHistory.win %></h2></h2>
                            <h2>LOSE = <h2><%= userScoreHistory.lose + 1 %></h2></h2>
                        </div>
                    </div>
                </div>
                <div class="alert-box-bot">
                    <form class="alert-box-form" action="/game_multiplayer/<%= roomData.id %>/battle/<%= thisPlayer %>" method="post">
                        <input type="text" name="action" value="exitGame" style="display: none;">
                        <input type="text" name="result" value="lose" style="display: none;">
                        <button class="alert-box-btn exit-btn" type="submit">EXIT</button>
                    </form>
                </div>
            </div>
        </div>
    <% } %>


    <div class="container">

        
        <div class="header">
            <div class="header-left">
                <a href="/game_room">&lt</a>
                <div class="logo"></div>
                <span>ROOM <%= roomData.roomName.toUpperCase() %></span>
            </div>
            <div class="score-container">
                <h2 class="score-name"><%= roomData.playerOne %> = <h2 id="player-score" class="score-number"><%= roomData.playerOneScore %></h2></h2>
                <% if (roomData.playerTwo) { %>
                    <h2 class="score-name"><%= roomData.playerTwo %> = <h2 id="enemy-score" class="score-number"><%= roomData.playerTwoScore %></h2></h2>
                <% } else { %>
                    <h2 class="score-name">Waiting... = <h2 id="enemy-score" class="score-number"><%= roomData.playerTwoScore %></h2></h2>
                <% } %>
            </div>
        </div>



        <div class="content">

            <div class="room">
                <div class="choice_header">
                    <p><%= roomData.playerOne %></p>
                </div>

                <% if (isPlayerOne) { %>
                    <div class="choices">
                        <form class="choice_room" action="/game_multiplayer/<%= roomData.id %>/battle/<%= thisPlayer %>" method="post">
                            <input type="text" name="action" value="chooseAnswer" style="display: none;">
                            <input type="text" name="answer" value="rock" style="display: none;">
                            <input type="text" name="user" value="<%= thisPlayer %>" style="display: none;">
                            <input type="text" name="id" value="<%= roomData.id %>" style="display: none;">
                            <button type="submit"><div class="choice-item-active-player choice-item-rock"></div></button>
                        </form>
                        <form class="choice_room" action="/game_multiplayer/<%= roomData.id %>/battle/<%= thisPlayer %>" method="post">
                            <input type="text" name="action" value="chooseAnswer" style="display: none;">
                            <input type="text" name="answer" value="paper" style="display: none;">
                            <input type="text" name="user" value="<%= thisPlayer %>" style="display: none;">
                            <input type="text" name="id" value="<%= roomData.id %>" style="display: none;">
                            <button type="submit"><div class="choice-item-active-player choice-item-paper"></div></button>
                        </form>
                        <form class="choice_room" action="/game_multiplayer/<%= roomData.id %>/battle/<%= thisPlayer %>" method="post">
                            <input type="text" name="action" value="chooseAnswer" style="display: none;">
                            <input type="text" name="answer" value="scissors" style="display: none;">
                            <input type="text" name="user" value="<%= thisPlayer %>" style="display: none;">
                            <input type="text" name="id" value="<%= roomData.id %>" style="display: none;">
                            <button type="submit"><div class="choice-item-active-player choice-item-scissors"></div></button>
                        </form>
                    </div>
                <% } else if (!isPlayerOne || isPlayerOne && result) { %>
                    <div class="choices">
                        <div class="choice_room" id="player_choice" name="Rock">
                            <div class="choice-item choice-item-rock"></div>
                        </div>
                        <div class="choice_room" id="player_choice" name="Paper">
                            <div class="choice-item choice-item-paper"></div>
                        </div>
                        <div class="choice_room" id="player_choice" name="Scissors">
                            <div class="choice-item choice-item-scissors"></div>
                        </div>
                    </div>
                <% } %>

            </div>

            <% if (winResult) { %>
                <div class="mid_winlose" id="mid">
                    <p id="inner_mid"><%= thisPlayer %> Win</p>
                </div>
            <% } else if (loseResult) { %>
                <div class="mid_winlose" id="mid">
                    <p id="inner_mid"><%= thisPlayer %> Lose</p>
                </div>
            <% } else if (drawResult) { %>
                <div class="mid_draw" id="mid">
                    <p id="inner_mid">Draw</p>
                </div>
            <% } else { %>
                <div class="mid" id="mid">
                    <p id="inner_mid">VS</p>
                </div>
            <% } %>

            <div class="room">
                <div class="choice_header">
                    <% if (roomData.playerTwo) { %>
                        <p><%= roomData.playerTwo %></p>
                    <% } else { %>
                        <p>Waiting...</p>
                    <% } %>
                </div>

                <% if (isPlayerTwo) { %>
                    <div class="choices">
                        <form class="choice_room" action="/game_multiplayer/<%= roomData.id %>/battle/<%= thisPlayer %>" method="post">
                            <input type="text" name="action" value="chooseAnswer" style="display: none;">
                            <input type="text" name="answer" value="rock" style="display: none;">
                            <input type="text" name="user" value="<%= thisPlayer %>" style="display: none;">
                            <input type="text" name="id" value="<%= roomData.id %>" style="display: none;">
                            <button type="submit"><div class="choice-item-active-player choice-item-rock"></div></button>
                        </form>
                        <form class="choice_room" action="/game_multiplayer/<%= roomData.id %>/battle/<%= thisPlayer %>" method="post">
                            <input type="text" name="action" value="chooseAnswer" style="display: none;">
                            <input type="text" name="answer" value="paper" style="display: none;">
                            <input type="text" name="user" value="<%= thisPlayer %>" style="display: none;">
                            <input type="text" name="id" value="<%= roomData.id %>" style="display: none;">
                            <button type="submit"><div class="choice-item-active-player choice-item-paper"></div></button>
                        </form>
                        <form class="choice_room" action="/game_multiplayer/<%= roomData.id %>/battle/<%= thisPlayer %>" method="post">
                            <input type="text" name="action" value="chooseAnswer" style="display: none;">
                            <input type="text" name="answer" value="scissors" style="display: none;">
                            <input type="text" name="user" value="<%= thisPlayer %>" style="display: none;">
                            <input type="text" name="id" value="<%= roomData.id %>" style="display: none;">
                            <button type="submit"><div class="choice-item-active-player choice-item-scissors"></div></button>
                        </form>
                    </div>
                <% } else if (!isPlayerTwo || isPlayerTwo && result) { %>
                    <div class="choices">
                        <div class="choice_room com" id="com_choice" name="Rock">
                            <div class="choice-item choice-item-rock"></div>
                        </div>
                        <div class="choice_room com" id="com_choice" name="Paper">
                            <div class="choice-item choice-item-paper"></div>
                        </div>
                        <div class="choice_room com" id="com_choice" name="Scissors">
                            <div class="choice-item choice-item-scissors"></div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>

        <% if (result) { %>
            <form class="refresh-game-btn-container" action="/game_multiplayer/<%= roomData.id %>/battle/<%= thisPlayer %>" method="post">
                <input type="text" name="action" value="refreshGame" style="display: none;">
                <input type="text" name="user" value="<%= thisPlayer %>" style="display: none;">
                <input type="text" name="id" value="<%= roomData.id %>" style="display: none;">
                <button type="submit" class="refresh-btn"><div class="refresh-btn-img"></div></button>
            </form>
        <% } %>

    </div>
</body>
</html>