<%- include("partials/header") %>

<body>
    
    <div class="result-overlay-closed" id="win-overlay">
        <div class="alert-box">
            <div class="alert-box-top">
                <h1>YOU WIN</h2>
                <div class="alert-score-holder">
                    <h2>SCORE</h2>
                    <div class="alert-score-holder-score">
                        <h2>WIN = <h2><%= parseInt(scoreData.win) + 1 %> </h2></h2>
                        <h2>LOSE = <h2><%= parseInt(scoreData.lose) %> </h2></h2>
                    </div>
                </div>
            </div>
            <div class="alert-box-bot">
                <form class="alert-box-form" action="/games/<%= id %>" method="post">
                    <input type="text" name="result" value="win" style="display: none;">
                    <input type="text" name="go" value="exit" style="display: none;">
                    <button class="alert-box-btn exit-btn" type="submit">EXIT</button>
                </form>
                <form class="alert-box-form" action="/games/<%= id %>" method="post">
                    <input type="text" name="result" value="win" style="display: none;">
                    <input type="text" name="go" value="replay" style="display: none;">
                    <button id="refresh" class="alert-box-btn replay-btn" type="submit">PLAY AGAIN</button>
                </form>
            </div>
        </div>
    </div>

    <div class="result-overlay-closed" id="lose-overlay">
        <div class="alert-box">
            <div class="alert-box-top">
                <h1>YOU LOSE</h2>
                <div class="alert-score-holder">
                    <h2>SCORE</h2>
                    <div class="alert-score-holder-score">
                        <h2>WIN = <h2><%= parseInt(scoreData.win) %> </h2></h2>
                        <h2>LOSE = <h2><%= parseInt(scoreData.lose) + 1 %> </h2></h2>
                    </div>
                </div>
            </div>
            <div class="alert-box-bot">
                <form class="alert-box-form" action="/games/<%= id %>" method="post">
                    <input type="text" name="result" value="lose" style="display: none;">
                    <input type="text" name="go" value="exit" style="display: none;">
                    <button class="alert-box-btn exit-btn" type="submit">EXIT</button>
                </form>
                <form class="alert-box-form" action="/games/<%= id %>" method="post">
                    <input type="text" name="result" value="lose" style="display: none;">
                    <input type="text" name="go" value="replay" style="display: none;">
                    <button id="refresh" class="alert-box-btn replay-btn" type="submit">PLAY AGAIN</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">

        
        <div class="header">
            <div class="header-left">
                <a href="/game_room">&lt</a>
                <div class="logo"></div>
                <span>ROCK PAPER SCISSORS</span>
            </div>
            <div class="score-container">
                <h2 class="score-name">PLAYER = <h2 id="player-score" class="score-number">0</h2></h2>
                <h2 class="score-name">COM = <h2 id="enemy-score" class="score-number">0</h2></h2>
            </div>
        </div>



        <div class="content">

            <div class="room">
                <div class="choice_header">
                    <p>PLAYER 1</p>
                </div>

                <div class="choices">
                    <div class="choice_room" id="player_choice" name="Rock">
                        <div class="choice-item choice-item-rock"></div>
                    </div>
                    <div class="choice_room" id="player_choice" name="Paper">
                        <div class="choice-item choice-item-paper"></div>
                    </div>
                    <div class="choice_room" id="player_choice" name="Scissors">
                        <div class="choice-item choice-item-scissors"></div>
                    </div>
                </div>
            </div>

            <div class="mid" id="mid">
                <p id="inner_mid">VS</p>
            </div>

            <div class="room">
                <div class="choice_header">
                    <p>COM</p>
                </div>

                <div class="choices">
                    <div class="choice_room com" id="com_choice" name="Rock">
                        <div class="choice-item choice-item-rock"></div>
                    </div>
                    <div class="choice_room com" id="com_choice" name="Paper">
                        <div class="choice-item choice-item-paper"></div>
                    </div>
                    <div class="choice_room com" id="com_choice" name="Scissors">
                        <div class="choice-item choice-item-scissors"></div>
                    </div>
                </div>
            </div>

            
        </div>
        
        <div class="refresh" id="refresh">
            <img src="../assets/refresh.png" alt="">
        </div>

    </div>



    <script src="/js/game.js"></script>
    
</body>
</html>