<%- include("partials/header") %>

<body>

    <div class="root">

        <!-- main screen -->
        <div class="main_screen">

            <%- include("partials/navbar") %>

            <!-- Hamburger menu Tab -->

            <div id="nav_option" class="nav_option">
                <p id="exitham" class="exitham">X</p>
                <div class="option_con">  
                    <ul>
                        <li class="firstchild"><a href="">HOME</a></li>
                        <li><a href="">WORK</a></li>
                        <li><a href="">CONTACT</a></li>
                        <li><a href="">ABOUT ME</a></li>
                    </ul>
                    <div class="sign_log">
                        <a class="sign" href="">SIGN IN</a>
                        <a class="sign" href="">LOGIN</a>
                    </div>
                </div>
            </div>

            <!-- end of hamburger menu tab -->

            <!-- main-content -->
            <div class="main_content">

                <h1>PLAY TRADITIONAL GAME</h1>
                <span>Experience new traditional game play</span>

                <a href="/login" class="mainbutton">ENTER</a>
            </div>
            <!-- end of main-content -->

            <!-- Arrow -->
            <a href="#game_choice" class="the_story">
                <span class="the_story1" >THE STORY</span>
                <img src="assets/down-arrow.png" alt="">
            </a>
            <!-- end of arrow -->

        </div>
        <!-- end of main screen -->



        <!-- game choice  -->
        <div id="game_choice" class="game_choice">

            <div class="the_game">
                <span>What's so special?</span>
                <h2>THE GAMES</h2>
            </div>

            <div class="choices">
                <a href=""><img src="assets/Back.png" alt=""></a>

                <div class="display">
                    <img src="assets/rockpaperstrategy-1600.jpg" alt="">
                </div>

                <a href=""><img src="assets/Next.png" alt=""></a>
            </div>

        </div>
        <!-- end of game choice -->



        <!-- features -->
        <div class="features">

            <div class="features_content">

                <div class="features_header">
                    <span>What so special?</span>
                    <h2>FEATURES</h2>
                </div>
    
                <div class="the_features">

                    <div class="feature_list">
                        <div class="feature_line"></div>
                        <div class="feature_list_right">
                            <div class="circle circle1"></div>
                        </div>
                        <div class="feature_list_left">
                            <a href="" class="feature_list_header">TRADITIONAL GAMES</a>
                            <p class="feature_list_content">
                                if you miss your childhood, we provide many
                                traditional game here
                            </p>
                        </div>
                    </div>

                    <div class="feature_list">
                        <div class="feature_list_right">
                            <div class="circle"></div>
                        </div>
                        <div class="feature_list_left">
                            <a href="" class="feature_list_header">GAME SUIT</a>
                            <p class="feature_list_content">
                                
                            </p>
                        </div>
                    </div>

                    <div class="feature_list">
                        <div class="feature_list_right">
                            <div class="circle"></div>
                        </div>
                        <div class="feature_list_left">
                            <a href="" class="feature_list_header">TBD</a>
                            <p class="feature_list_content">
                                
                            </p>
                        </div>
                    </div>

                </div>
                <!-- end of the features and list -->

            </div>

        </div>
        <!-- end of features -->



        <!-- System Requirements -->
        <div class="requirements">

            <div class="requirements_header">
                <h2>SYSTEM REQUIREMENTS</h2>
                <span>Can My Computer Run this game?</span>
            </div>

            <div class="requirements_table">
                <table>
                    <tr>
                        <td> 
                            <h3>OS:</h3>
                            <p>Windows 7 64-bit only <br>
                                (No OSX support at this time)</p>
                        </td>
                        <td>
                            <h3>PROCESSOR:</h3>
                            <p>Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>MEMORY:</h3>
                            <p>4 GB RAM</p>
                        </td>
                        <td>
                            <h3>STORAGE:</h3>
                            <p>8 GB available space</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h3>GRAPHIC:</h3>
                            <p>NVIDIA GeForce GTX 660 2GB or <br>
                            AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        <!-- end of system requirements -->



        <!-- Top Scores -->
        <div class="top_scores">
            <div class="top_scores_container">

                <div class="top_scores_left">
                    <h2>TOP SCORES</h2>
                    <p>This top score from various games provided on this platform</p>

                    <a href="" class="top_scores_btn">
                        see more
                    </a>

                </div>

                <div class="top_scores_right">
                    
                    <div class="card card1">
                        <div class="card_header">
                            <div class="profilepic">
                                <div class="profile_image profile1"></div>
                            </div>
                            <div class="card_identity">
                                <span class="identity_name" >Evan Lahti</span>
                                <span class="identity_status" >PC Gamer</span>
                            </div>
                            <a href="" class="twitter"> <img src="assets/twitter.svg" alt=""></a>
                        </div>

                        <div class="card_content">
                            <p>"One of my gaming highlights of the year"</p>
                        </div>

                        <div class="card_footer">
                            <span>October 18, 2018</span>
                        </div>
                    </div>

                    <div class="card card2">
                        <div class="card_header">
                            <div class="profilepic">
                                <div class="profile_image profile2"></div>
                            </div>
                            <div class="card_identity">
                                <span class="identity_name" >Jada Griffin</span>
                                <span class="identity_status" >Blogger</span>
                            </div>
                            <a href="" class="twitter"> <img src="assets/twitter.svg" alt=""></a>
                        </div>

                        <div class="card_content">
                            <p>"The next big thing in the world of streaming and survival games"</p>
                        </div>

                        <div class="card_footer">
                            <span>October 18, 2018</span>
                        </div>
                    </div>

                    <div class="card card3">
                        <div class="card_header">
                            <div class="profilepic">
                                <div class="profile_image profile3"></div>
                            </div>
                            <div class="card_identity">
                                <span class="identity_name" >Aaron Williams</span>
                                <span class="identity_status" >Uproxx</span>
                            </div>
                            <a href="" class="twitter"> <img src="assets/twitter.svg" alt=""></a>
                        </div>

                        <div class="card_content">
                            <p>"Snopp Dogg Playing The Wildly Entertaining 'SOS' Is Ridiculous"</p>
                        </div>

                        <div class="card_footer">
                            <span>December 24, 2018</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- end of top scores -->



        <!-- footer -->
        <footer>
            <div class="footerbox">

                <div class="footer_top">

                    <div class="footer_top_left">
                        <img src="assets/skull.png" alt="">
                    </div>

                    <div class="footer_top_right">

                        <p class="footer_phead" >Want to stay in touch?</p>
                        <h2>NEWSLETTER <br> SUBSCRIBE</h2>
                        <p class="footer_top_desc" >
                            In order to start receiving our news, all you have to do is enter 
                            your email address. Everything else will be taken care of by us. 
                            We will send you emails containing information about game. We don’t spam.
                        </p>

                        <div class="footer_subs">
                            <div class="for_email">
                                <p>Your email address</p>
                                <input type="text">
                            </div>
                            <div class="for_subsbtn">
                                <a href="" class="subsbtn" >Subscribe Now</a>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="footer_bot">

                    <div class="bot_upper">
                        <ul class="footernav footerlist">
                            <li><a href="">MAIN</a></li>
                            <li><a href="">ABOUT</a></li>
                            <li><a href="">GAME FEATURES</a></li>
                            <li><a href="">SYSTEM REQUIREMENTS</a></li>
                            <li><a href="">QUOTES</a></li>
                        </ul>

                        <ul class="social_media footerlist">
                            <li><a href=""><img src="assets/facebook.svg" alt=""></a></li>
                            <li><a href=""><img src="assets/twitter.svg" alt=""></a></li>
                            <li><a href=""><img src="assets/Vector.svg" alt=""></a></li>
                            <li><a href=""><img src="assets/twitch.svg" alt=""></a></li>
                        </ul>
                    </div>

                    <hr>

                    <div class="bot_down">
                        <span>© 2018 Your Games, Inc. All Rights Reserved</span>
                        <p>PRIVACY POLICY | TERMS OF SERVICES | CODE OF CONDUCT</p>
                    </div>

                </div>

            </div>
        </footer>
        <!-- end of footer -->

    </div>


    <script src="js/index.js"></script>
</body>
</html>