<%- include("partials/header-bootstrap") %>


<body>
  <div class="container">
    <h1 class="sign-in-header">Login</h1>

    <% if (messages.error) { %>
      <div class="alert alert-danger" role="alert">
        <%= messages.error %> 
        <!-- Wrong username or password -->
      </div>
    <% } else { %>
    <div class="alert alert-danger" role="alert" style="opacity: 0;">
      -
    </div>
    <% } %>

    <div class="sign-in-container">
      <form class="sign-in" method="post">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" name="username">
          <div id="emailHelp" class="form-text">Input Your Username.</div>
        </div>
        <div class="mb-3 pass">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>

        <div class="sign-footer">
          <button type="submit" class="btn btn-light">Submit</button>
          <a href="/">Back</a>
        </div>
      </form>
    </div>

        <div class="footer">
            <span>Don't have any account? </span><a href="/register">create account</a>
        </div>
  </div>
</body>
</html>