<%- include("partials/header") %>

<body>
  
  <div class="container">
    <div class="register-title"><h1>Register</h1></div>
    <div class="register-container-hodler">
      <div class="register-container">

        <% if (userExist || alertInfo) { %>
          <div class="alert-danger" role="alert">
            <%= alertInfo %>
          </div>
        <% } else { %>
        <div class="alert-danger" role="alert" style="opacity: 0;">
          -
        </div>
        <% } %>
        
        <form method="post" action="/register">
          <div class="input-holder">
            <label class="input-name" for="username">Username</label>
            <input class="input-enter" type="text" name="username" placeholder="Username">
            <p class="input-info">Input your Username Here</p>
          </div>
          <div class="input-holder">
            <label class="input-name" for="fullName">Full Name</label>
            <input class="input-enter" type="text" name="fullName" placeholder="Full Name">
            <p class="input-info">Input your Full Name Here</p>
          </div>
          
          <div class="input-parting-holder">
            <div class="input-left-part">       
              <div class="input-holder">
                <label class="input-name" for="city">City</label>
                <input class="input-enter" type="text" name="city" placeholder="Jakarta">
                <p class="input-info">Where did you live</p>
              </div>
            </div>
            <div class="input-right-part">
              <div class="input-holder">
                <label class="input-name" for="age">Age</label>
                <input class="input-enter" type="number" name="age" placeholder="00">
                <p class="input-info">Your age right now</p>
              </div>
            </div>
          </div>

          <div class="input-parting-holder">
            <div class="input-left-part">       
              <div class="input-holder">
                <label class="input-name" for="password">Password</label>
                <input class="input-enter" type="password" name="password" placeholder="Password">
                <p class="input-info">Don't let anyone know your password</p>
              </div>
            </div>
            <div class="input-right-part"></div>
          </div>
          <div class="form-footer">
            <button type="submit" class="form-submit">Submit</button>
            <a href="/">Back</a>
          </div>

        </form>
      </div>

      <div class="footer">
        <span>Already have account? </span><a href="/login">Login</a>
      </div>

    </div>
  </div>

</body>
</html>