* {
    margin: 0px;
    padding: 0px;
}

.btn {
    width: 80px;
    height: 35px;
    background-color: rgb(252, 180, 47);
    border-radius: 5px;

    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;

    cursor: pointer;
}
.btn a {
    color: black;
    text-decoration: none;
} 



.dashboard-header {
    padding: 20px;
}



.main-container {
    width: 80vw;

    margin: 1rem auto;
    box-sizing: border-box;

    font-family: sans-serif;
}

.main-header {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 2rem;
}

.player-list {
    width: 50%;
    
    margin:0px auto 40px;
    list-style: none;

    padding: 20px;

    border-radius: 10px;

    box-sizing: border-box;
    box-shadow: 1px 1px 5px rgb(114, 114, 114);
}

.player-list-header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 40px;
}
.player-list-id {
    display: flex;
    align-items: center;
}
.player-list-id h4 {
    margin-right: 10px;
}

.admin-tag {
    color: blue;
}

.player-list-content {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-list-content-split {
    width: 45%;
}

.list-data {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
}
.list-data-content {
    width: 50%;
}

.score-list-holder {
    width: 100%;

    margin: 20px 0px 40px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score-list {
    display: flex;
    align-items: center;
}
.score-list h4 {
    margin-right: 10px;
}

.list-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.delete-btn {
    background-color: rgb(255, 70, 70);
    color: white;

    margin-left: 1rem;
}
.edit-btn {
    background-color: rgb(36, 179, 36);
}
.edit-btn a {
    color: white;
}

.footer {
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px auto 50px;
}
.right-footer {
    width: 50%;

    display: flex;
    align-items: center;
}
.left-footer {
    width: 50%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}






.delete-overlay-closed {
    display: none;
}
.delete-overlay-open {
    min-width: 100vw;
    min-height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.479);

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    font-family: sans-serif;
}
.delete-tab {
    aspect-ratio: 2 / 1;
    width: 30%;
    background-color: white;
    border-radius: 5px;

    padding: 30px;

    text-align: center;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.delete-tab-footer {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cancel-btn {
    background-color: rgb(94, 94, 255);
    color: white;
}


