* {
    padding: 0px;
    margin: 0px;
}



.btn {
    width: 80px;
    height: 35px;
    background-color: rgb(252, 180, 47);
    border-radius: 5px;

    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;

    cursor: pointer;
}
.btn a {
    color: black;
    text-decoration: none;
}





/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}





.header {
    padding: 20px;
    font-family: sans-serif;

    box-sizing: border-box;
}

.container {
    max-width: 100vw;
    height: 100vh;

    box-sizing: border-box;
}

.main-container {
    width: 100%;
    height: 85%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    box-sizing: border-box;
}

.profile-holder {
    width: 50%;

    padding: 30px;

    font-family: sans-serif;
    
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(114, 114, 114);

    box-sizing: border-box;
}



.profile-data-id {
    display: flex;
    align-items: center;

    margin-bottom: 70px;
}

.profile-data-id h4 {
    margin-right: 10px;
}



.profile-data {
    width: 100%;

    display: flex;
    align-items: center;

    box-sizing: border-box;
    margin-bottom: 30px;
}
.profile-data h4 {
    width: 30%;
}

.profile-data-data {
    width: 70%;

    display: flex;
    align-items: center;

}
.profile-data-data p {
    margin-right: 40px;
}
.change-btn {
    font-size: 0.8rem;
    text-decoration: underline;
    color: rgb(223, 145, 0);
    cursor: pointer;
}




.edit-overlay-closed {
    display: none;
}
.edit-overlay-open {
    min-width: 100vw;
    min-height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.479);

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    font-family: sans-serif;
}

.edit-tab {
    aspect-ratio: 2 / 1;
    width: 30%;

    background-color: white;
    border-radius: 5px;

    padding: 30px;

    text-align: center;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-tab h2 {
    width: 100%;
    height: 35%;
}

.edit-tab form {
    width: 100%;
    height: 65%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.edit-tab-input-holder {
    width: 100%;
    height: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-tab input {
    aspect-ratio: 1 / 0.1;
    width: 80%;
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    box-sizing: border-box;
}

.edit-tab-footer {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.cancel-btn {
    background-color: rgb(94, 94, 255);
    color: white;
}
.edit-btn {
    background-color: rgb(36, 179, 36);
    color: white;
}



.main-container-footer {
    width: 50%;

    margin-top: 30px;

    font-family: sans-serif;

    display: flex;
    justify-content: flex-end;

    box-sizing: border-box;
}











