* {
    margin: 0;
    padding: 0;
}





/* CSS Line */


body {
    
    background: url(../assets/the-games-bg.jpg);
    background-position: center;
    background-size: cover;

    color: white;
}


.btn {
    width: 80px;
    height: 35px;
    background-color: rgb(252, 180, 47);
    border-radius: 5px;

    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;

    cursor: pointer;
    color: black;
}
.btn a {
    color: black;
    text-decoration: none;
}


/* nav bar */

nav {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 6em;

    background: rgba(0, 0, 0, 0.719);
    box-sizing: border-box;

    font-family: sans-serif;
    color: white;
}

.nav_leftside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -300px;
}

span.logo {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;

    font-size: 13px;
}

nav ul li a {
    color: white;
    text-decoration: none;

    margin: 0px 2rem;
}

.nav_rightside {
    min-width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-right-content {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.right-content-item {
    padding: 0px 10px;
}
.nav-right-content a {
    text-decoration: none;
    color: white;
}

.nav_rightside .sign{
    color: white;
    text-decoration: none;
    margin: 0 20px;

    font-size: 13px;
}

nav a:hover {
    color: rgb(252, 180, 47);
    text-decoration: underline;
}

nav img {
    display: none;
    width: 0;
    margin: 0 0px;
}

/* end of nav bar */



/* container */

.container {
    max-width: 100vw;
    height: 86vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    box-sizing: border-box;
}
.container-closed {
    display: none;
}

.title {
    height: 45%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
}

.game-choice {
    width: 25%;
    height: 30%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 20px;

    font-size: 1.3vw;

    border: 2px solid rgb(218, 141, 0);
    border-radius: 20px;
    
    box-sizing: border-box;
}
.game-choice a {
    text-decoration: none;
    color: white;
}
.game-choice a:hover {
    text-decoration: underline;
    color: rgb(218, 141, 0);
}
.game-choice p {
    cursor: pointer;
}
.game-choice p:hover {
    text-decoration: underline;
    color: rgb(218, 141, 0);
}


/* end of container */








/* create room container */

.create-room-container {
    max-width: 100vw;
    min-height: 86vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.create-room-container-closed {
    display: none;
}

.create-room-container form {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 2rem;
}

.create-room-container form input {
    width: 50%;
    height: 35px;

    border-radius: 5px;
    padding: 0px 20px;

    box-sizing: border-box;

    margin-right: 2rem;
}

/* end of create room container */








/* join room container */

.join-room-container {
    max-width: 93vw;
    height: 86vh;

    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.join-room-container-closed {
    display: none;
}

.join-room-container-header {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 0px;

    border-bottom: 1px solid white;

    box-sizing: border-box;
}



.join-room-back-btn {
    width: 80%;
    margin-top: 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}



.join-room-list {
    width: 100%;
    height: fit-content;

    padding: 0px 20px;

    box-sizing: border-box;
}

.join-room-list-item {
    list-style: none;

    padding: 10px;

    display: flex;
    align-items: center;

    border-bottom: 1px solid white;
    box-sizing: border-box;
}
.join-room-list-item-right {
    width: 70%;
}
.join-room-list-item-left {
    width: 30%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.join-room-list-item-left form {
    width: 20%;
}

/* end of join room container */