/* Settings */

* {
    margin: 0;
    padding: 0;
}



/* CSS Line */

.alert-box-form {
    width: 50%;

    padding: 0px 10px;

    box-sizing: border-box;
}
.alert-box-btn {
    aspect-ratio: 1 / 0.3;
    width: 100%;

    border: none;

    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.exit-btn {
    color: white;
    background-color: red;
}
.replay-btn {
    background-color: rgb(255, 170, 13);
}



/* multiplayer overlay settings */

.refresh-game-btn-container {
    width: 20vw;
    margin: -40px auto 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.refresh-btn {
    aspect-ratio: 1 / 1;
    width: 15%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
.refresh-btn-img {
    width: 100%;
    height: 100%;

    background: url(../assets/refresh.png);
    background-position: center;
    background-size: contain;

    background-repeat: no-repeat;
    cursor: pointer;
}
.refresh-btn:hover {
    filter: invert(0.5);
}

.overlay {
    width: 100vw;
    height: 100vh;

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
}

.multi-alert-box {
    aspect-ratio: 1.5 / 1;
    width: 30%;

    background-color: white;

    border-radius: 20px;
    padding: 20px;

    font-family: sans-serif;

    box-sizing: border-box;
    z-index: 20;
}
.multi-alert-box-top {
    width: 100%;
    height: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.multi-alert-box-bot {
    width: 100%;
    height: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.multi-alert-box-bot form {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* end of multiplayer overlay settings */






.container {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    
    background-color: #9C835F;
}

.result-overlay-closed {
    display: none;
}
.result-overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.473);

    position: absolute;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}
.alert-box {
    aspect-ratio: 1 / 1.1;
    width: 40%;

    background-color: white;

    box-sizing: border-box;
    border-radius: 20px;

    padding: 20px;
    
}
.alert-box-top {
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.alert-box-top h1 {
    height: 30%;
    font-size: 5rem;
}
.alert-score-holder {
    width: 100%;
    height: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
}
.alert-score-holder h2 {
    height: 30%;
}
.alert-score-holder-score {
    font-size: 1.7rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.alert-box-bot {
    height: 20%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px;
}
.header-left {
    display: flex;
    align-items: center;
}

.score-container {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header a {
    text-decoration: none;
    font-weight: bold;
    font-size: 3rem;
    color: #724C21;

    padding: 5px;
    margin-right: 20px;

    transition: 0.3s;
}

.header a:hover {
    color: white;
    border-radius: 10px;
    transform: scale(1.2);
}

.header .logo {
    width: 40px;
    height: 40px;
    margin-right: 20px;

    background: url(../assets/logoRPS.png);
    background-size: cover;
    background-position: center;
}

.header span {
    color: #F9B23D;
    font-weight: bold;
    font-size: clamp(1.5rem, 1.5vw, 2rem);
}


/* End of header */



/* Content */

.content {
    width: 80%;
    margin: 0px auto 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* choices */

.room {
    width: 30%;
    height: 80vh;

}

.room p{
    font-weight: bold;
    font-size: clamp(1rem, 5vw, 2rem);
    text-align: center;
}

.choices {
    height: 90%;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
}

.choice_room {
    width: 42%;
    height: clamp(100px, 10vw, 150px);
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    border-radius: 10px;
}

.choice_room button {
    width: 60%;

    border: none;
    background-color: rgba(255, 255, 255, 0);
}
.choice-item-active-player {
    aspect-ratio: 1 / 1;
    width: 100%;
    
    
    box-sizing: border-box;
    transition: 0.2s;
}

.choice-item {
    aspect-ratio: 1 / 1;
    width: 60%;
    
    
    box-sizing: border-box;
    transition: 0.2s;
}
.choice-item-rock {
    background: url(../assets/batu.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.choice-item-paper {
    background: url(../assets/kertas.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.choice-item-scissors {
    background: url(../assets/gunting.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.choice-item:hover {
    transform: scale(1.4);
}
.choice-item-active-player:hover {
    transform: scale(1.4);
}

.com img:hover {
   transform: scale(1);
}

.mid {
    width: 15%;
    position: relative;
    text-align: center;
    border-radius: 10px;
    padding: 20px 0 20px;


    color: #BD0000;
    font-size: clamp(2rem, 10vw, 6rem);
    font-weight: bold;
    letter-spacing: 0.3rem;
}

/* player win, lose or draw settings*/

.mid_winlose {
    width: 15%;
    position: relative;
    text-align: center;
    background-color: #4C9654;
    border-radius: 10px;
    padding: 20px 0 20px;

    color: white;
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-weight: bold;

    transform: rotate(330deg);
}

.mid_draw {
    width: 15%;
    position: relative;
    text-align: center;
    background-color: #035B0C;
    border-radius: 10px;
    padding: 40px 0 40px;

    color: white;
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-weight: bold;
    transform: rotate(330deg);
}

/* end of choices */

/* refresh */

.refresh {
    width: 3.5vw;
    margin: -40px auto 0px;
}

.refresh img {
    width: 100%;
    transition: 0.3s;
}

.refresh img:hover {
    transform: scale(1.2);
    filter: invert(100);
}

/* end of content */






/* Responsive breakpoint */

/* phone portrait */
@media screen and (max-width: 520px){

    .content {
        width: 100%;
        height: 80vh;
        flex-direction: column;
        justify-content: space-around;
        
    }

    .room {
        height: 30vw;
        width: 90%;
    }

    .choices {
        width: 100%;
        height: 90%;
        margin-top: 20px;
        flex-direction: row;
    }

    .choice_header {
        display: flex;
        justify-content: space-around;
    }

    .choice_room {
        width: 30%;
    }

    .refresh {
        width: 10%;
        margin: 0px auto 0px;
    }


}


/* Tablet */
@media screen and (max-width: 1000px) {

    .content {
        width: 100%;
        height: 80vh;
        flex-direction: column;
        justify-content: space-around;
        
    }

    .room {
        height: 30vw;
        width: 90%;
    }

    .choices {
        width: 100%;
        height: 90%;
        margin-top: 20px;
        flex-direction: row;
    }

    .choice_header {
        display: flex;
        justify-content: space-around;
    }

    .choice_room {
        width: 20%;
    }

    .refresh {
        width: 10%;
        margin: 0px auto 0px;
    }
}



