
body {

    background: url(../assets/the-games-bg.jpg);
    background-position: center;
    background-size: cover;

    color: white;
}

.container {
    width: 40vw;
}

.sign-in-header {
    text-align: center;

    margin: 30px 0px 30px;
}

.sign-in-container {
    width: 30vw;
    margin: auto;

    border: 1px solid rgb(255, 170, 118);
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in {
    width: 80%;
    margin: 20px 0px 20px;
}

.pass{
    margin-bottom: 50px !important;
}

.sign-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-footer a {
    color: rgb(252, 180, 47);
    
}

.btn-light {
    background-color: rgb(252, 180, 47) !important;
    border: 1px solid rgb(252, 180, 47) !important;
}

.to-login {
    display: block;
    text-align: center;

    margin-top: 30px;
    color: rgb(252, 180, 47);
}

.footer {
    display: block;
    text-align: center;

    margin-top: 30px;
}

.footer a {
    color: rgb(252, 180, 47);
}




/* responsive breakpoint */

@media screen and (max-width: 1000px){
    .container {
        width: 60vw;
    }
    .sign-in-container {
        width: 50vw;
    } 
}

@media screen and (max-width: 500px) {
    .container {
        width: 90vw;
    }
    .sign-in-container {
        width: 80vw;
    }  
}
