* {
    padding: 0px;
    margin: 0px;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



.container {
    max-width: 100vw;
    min-height: 100vh;
    
    background-color: black;
    
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
}

.register-title {
    padding: 3rem 0px;
    color: white;
    font-size: clamp(1.6rem, 2.3vw, 3.6rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container-hodler {
    width: 100%;
    height: fit-content;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
}
.register-container {
    width: 60%;
    height: fit-content;
    
    padding: 30px 70px;
    
    border: 1px solid rgb(255, 170, 118);
    border-radius: 20px;
    
    color: white;
    font-family: sans-serif;
    
    box-sizing: border-box;

}



.input-holder {
    margin-bottom: 30px;
}

.input-name {
    font-weight: bold;

    display: block;
    margin-left: 3px;
    margin-bottom: 2px;
}
.input-enter {
    width: 100%;
    height: 40px;

    border-radius: 10px;
    padding: 0px 15px;
    box-sizing: border-box;
}
.input-info {
    font-size: 0.8rem;
    margin-top: 5px;
    margin-left: 3px;

    color: rgb(128, 128, 128);
}

.input-parting-holder {
    display: flex;
    align-items: center;

    box-sizing: border-box;
}
.input-left-part {
    width: 50%;
    margin-right:10px;
    box-sizing: border-box;
}
.input-right-part {
    width: 50%;
    margin-left:10px;
    box-sizing: border-box;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 50px;
}
.form-submit {
    width: 70px;
    height: 35px;
    background-color: rgb(252, 180, 47);
    border-radius: 5px;
}
.form-footer a {
    color: rgb(252, 180, 47);
}


.footer {
    display: block;
    text-align: center;

    margin-top: 30px;
    margin-bottom: 100px;
    color: white;

    font-family: sans-serif;
}

.footer a {
    color: rgb(252, 180, 47);
}

.alert-danger {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(255, 157, 157);

    color: black;

    box-sizing: border-box;
    border-radius: 10px;
}